:root {
  --main-bg-color:white;
  --main-black:#000000;
  --main-white:#ffffff;
  --main-red:#880000;
  --main-cyan:#AAFFEE;
  --main-purple:#CC44CC;
  --main-green:#00CC55;
  --main-blue:#0000AA;
  --main-yellow:#EEEE77;
  --main-orange:#DD8855;
  --main-brown:#664400;
  --main-l-red:#FF7777;
  --main-d-grey:#FF7777;
  --main-grey:#777777;
  --main-l-grey:#BBBBBB;
  --main-ll-grey:#DDDDDD;
  --main-l-green:#aaff66;
  --main-l-blue:#0088FF;
}

body{

  background-color:var(--main-bg-color);
  font-family:sans-serif;
}

#root {
  min-width:640px;
  min-height:640px;
  display:flex;
  flex-direction:column;
  align-content: stretch;
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
}


#header {
  padding:5px;
  background-color:var(--main-ll-grey);
}


#header span {
  vertical-align:middle;
  line-height:50px;
  font-family:sans-serif;
  font-size:x-large;
  font-weight:bold;
}

#workspace {
  display:flex;
  flex-direction:row;
  align-content:stretch;
  position:relative;
  height:100%;
  background-color:purple;
  min-height:100px;
}

#tools {
  order:0;
  flex-grow:1;
  display:flex;
  flex-direction:column;
  width:280px;
  min-width:280px;
  background-color:var(--main-l-blue);
  height:95%;
}

#works {
  order:1;
  display:flex;
  flex-grow:4;
  flex-direction:column;
  flex-wrap:nowrap;
  padding-right:10px;
  padding-left:10px;
  height:95%;
  background-color:var(--main-purple);
  overflow:scroll;
}


.toolbox {
  display:flex;
  flex-direction:column;
  padding:5px;
  margin:5px;
  border:solid;
  background-color:var(--main-white);
}

#commmands{
  min-height:100px;
}

.tool {
  padding:5px;
}

.tool:hover{
  background-color:var(--main-purple);
}

#experiments{
  display:flex;
  flex-direction:column;
  margin-top:20px;
  overflow:scroll;
  height:80%;
}


.work {
  display:flex;
  flex-direction:column;
  margin:10px;
  padding:5px;
  border:solid;
  overflow:scroll;
  margin-right:25px;
}


.work_header {
  min-height:25px;
  flex-grow:1;
  display:flex;
  flex-direction:row;
  padding:5px;
  font-size:large;
  background-color:var(--main-l-green);
}

.work_id {
  padding:5px;
  flex-grow:1;
}

.work_title{
  flex-grow:100;
  font-weight:bold;
  padding:5px;
}




#network {
  color:var(--main-l-red);
}
